{% extends 'base.html' %} {% block content %}

<div class="login">

    <main class="form-signin">
        <form action={{ url_for( 'login' ) }} enctype="multipart/form-data" method='POST'>
            <img class="img-fluid mb-4" src="../static/Logo-akademije-Nis-2020-e1583448050322.png" alt="">


            <div class="form-label">
                <label for="LoginInput" class="loginText">Email address</label>
                <input type="email" placeholder="name@example.com" class="form-control " id="LoginInput" name="email" value="">

            </div>
            <div class="form-label">
                <label for="LoginPassword" class="loginText">Password</label>
                <input type="password" placeholder="Password" class="form-control " id="LoginPassword" name="lozinka" value="">
            </div>
            {% if message %}
            <small class="text-danger">{{message}}</small> {% endif %}
            <div class="p-3 d-flex justify-content-center">
                <button type="submit" class="w-50  h-50 btn btn-primary ">Prijavi se</button></div>
        </form>
    </main>



</div>{% endblock %}